<h1>Listing admission_forms</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date of admission</th>
    <th>Reason</th>
    <th>Step</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admission_forms.each do |admission_form| %>
  <tr>
    <td><%= admission_form.first_name %></td>
    <td><%= admission_form.last_name %></td>
    <td><%= admission_form.date_of_birth %></td>
    <td><%= admission_form.email %></td>
    <td><%= admission_form.phone %></td>
    <td><%= admission_form.date_of_admission %></td>
    <td><%= admission_form.reason %></td>
    <td><%= admission_form.step %></td>
    <td><%= link_to 'Show', admission_form %></td>
    <td><%= link_to 'Edit', edit_admission_form_path(admission_form) %></td>
    <td><%= link_to 'Destroy', admission_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admission form', new_admission_form_path %>
